.appHeader {
    display: flex;
    flex-direction: row;
    z-index: 10;
    position: sticky;
    top: 16px;
    pointer-events: none;

    > .panel {
        pointer-events: all;
        display: flex;
        flex-direction: row;
        align-self: start;
        background-color: var(--panel-background-color);
        border: 1px solid var(--border-color);
        border-radius: 4px;
        overflow: hidden;
        color: var(--panel-text-color);
        z-index: 10;

        > button {
            border: none;
            border-radius: 0;
            border-right: 1px solid var(--border-color);
            margin: 0;
            padding: 8px 12px;

            &:last-child {
                border-right: none;
            }
        }
    }

    > .model {
        position: relative;

        > .progress {
            position: absolute;
            inset-inline-start: 0;
            top: 0;
            bottom: 0;
            background-color: var(--panel-progress-color);
            width: calc(var(--progress) * 100%);
            pointer-events: none;
            z-index: -1;

            --progress: 0;

            &.hide {
                opacity: 0;

                transition: opacity 0.3s var(--transition-easing);
            }
        }

        > .modelName,
        > .noModel {
            flex: 1;
            text-align: start;
            align-self: center;
            flex-basis: 400px;
            padding: 12px 24px;
            word-break: break-word;

            margin-inline-end: 48px;
        }
    }

    > .spacer {
        flex-grow: 1;
    }
}
